<!DOCTYPE html>
<html>
    <head>
        <title> Placement Package Predictor </title>
        <style>
            body 
            {
                background-color: grey;
            color: black;
        }
    </style>
    </head>
    <body>

        <h1> "This is placement package predictor" </h1>
        <label for="cgpa" > Enter the cgpa: </label>
        <br>
        <form method="POST">
            <input type="text" name="cgpa" placeholder = "enter the cgpa" step="0.01" required>
            <br>
            <input type="submit" value="submit">
            <br>
        </form>


    </body>

    </html>
